Options -Indexes
Options -MultiViews
Options +FollowSymlinks
AddDefaultCharset UTF-8
ServerSignature Off
FileETag none
#Disable all directory views (recommended for better security)
#Disable multi-views (recommended for canonical URIs)
#Enable symlinks (required for permalinks/rewrites, e.g., index.php → index.html)
#Specify the default character set for any file served text/plain or text/html (recommended for usability)
#Disables the server signature (recommended for better security)
#Disables the ETag Header (recommended for performance)


#https://cets.seas.upenn.edu/answers/addtype.html
<IfModule mod_mime.c>
# DEFAULTS
DefaultLanguage en
AddLanguage en-US .html .css .js
AddCharset utf-8 .html .css .js .xml .json .rss .atom

# JAVASCRIPT
AddType application/javascript js jsonp
AddType application/json json

# FONTS
AddType font/opentype otf
AddType application/font-woff woff
AddType application/x-font-woff woff
AddType application/vnd.ms-fontobject eot
AddType application/x-font-ttf ttc ttf
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

# AUDIO
AddType audio/mp4 m4a f4a f4b
AddType audio/ogg oga ogg

# VIDEO
AddType video/mp4 mp4 m4v f4v f4p
AddType video/ogg ogv
AddType video/webm webm
AddType video/x-flv flv

# OTHERS
AddType application/octet-stream safariextz
AddType application/x-chrome-extension crx
AddType application/x-opera-extension oex
AddType application/x-shockwave-flash swf
AddType application/x-web-app-manifest+json webapp
AddType application/x-xpinstall xpi
AddType application/xml atom rdf rss xml
AddType application/vnd.openxmlformats .docx .pptx .xlsx .xltx . xltm .dotx .potx .ppsx
AddType text/cache-manifest appcache manifest
AddType text/vtt vtt
AddType text/x-component htc
AddType text/x-vcard vcf
AddType image/webp webp
AddType image/x-icon ico
</IfModule>

#Sets the default language (en)
 #Specifies the correct language for common files (.html, .css, .js)
 #Force UTF-8 encoding for some common file formats (.html, .css, .js, .xml, .json, .rss, .atom)
 #Adds MIME support for a wide variety of commonly used file types
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REMOTE_ADDR} !^123\.456\.789
#Every uri start with {test} will be matched with this condition.
rewritecond %{request_uri} /test [nc]
RewriteCond %{REQUEST_URI} !/maintenance [NC]
RewriteRule .* - [R=504,L]
</IfModule>
ErrorDocument 504 /todolist/maintenance.html
<IfModule mod_headers.c>
Header always set Retry-After “3600”
</IfModule>

#That needs to be included at least once in order for mod_rewrite to operate.
<IfModule mod_speling.c>
CheckSpelling off
</IfModule>
#Once enabled, mod_speling redirects misspelled requests to any nearest matching resources.
#Uses a bit of memory, but can be useful if you've been changing URIs or have lots of similarly named URIs




